@charset "UTF-8";
@import "reset";
@import "fonts";
$t: #393939;
$t2: #576670;
$th: #7bb355;

@mixin anim{
  transition: all .3s cubic-bezier(1, 0.09, 0.29, 0.38);
}
@mixin anim-linear{
  transition: all .5s linear;
}
b,strong {font-weight: normal;font-family: 'SFNSDisplay-Semibold',sans-serif;}
.mark-txt {
  color: #00a8e0;
}
@mixin fr {font-family: 'SFNSText',sans-serif;}
@mixin fsb {font-family: 'SFNSDisplay-Semibold',sans-serif;}
@mixin fb {font-family: 'SFNSDisplay',sans-serif;}
*,*:after,*:before {
  box-sizing:border-box !important;
}
.clearfix:before,.container:before,
.clearfix:after,.container:after,
.row:after,.row:before{
  display: table;
  content: " ";
}
.clearfix:after,.container:after,.row:after {
  clear: both;
}
.desktop ::-webkit-scrollbar { width: 5px; }
.desktop ::-webkit-scrollbar:horizontal { height: 5px; }
.desktop ::-webkit-scrollbar-thumb { width: 5px; border-color: #ff7171; background-color: #ff7171;}
.desktop ::-webkit-scrollbar-thumb:hover { border-width: 1px 1px 1px 2px; border-color: #ff7171; background-color: #ff7171; }
.desktop ::-webkit-scrollbar-track { border-width: 0; }
.desktop ::-webkit-scrollbar-track-piece { background: #ffffff; }
body {max-width: 100%}
//body.noscroll {overflow: hidden;}
//section {overflow: hidden;}
.container {
  //width: 1400px;
  width: 1230px;
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.row {margin: 0 -15px;}
.row .col {padding: 0 15px;}
.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}
.tt-upp { text-transform: uppercase;}
h1, h2, h3, h4, h5 {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
 }

h1 {
  font-size: 30px;
  line-height: 38px;
  @include respond-to(lg-1300){
    font-size: 26px;
    line-height:34px;
  }
}

h2 {
  font-size: 28px;
  line-height: 36px; }

h3 {
  font-size: 26px;
  line-height: 34px; }

h4 {
  font-size: 24px;
  line-height: 32px; }

h5 {
  font-size: 20px;
  line-height: 28px; }
.content p {
  margin-bottom: 20px; }
.content ul li, .list-box li {
  margin-bottom: 15px;
  padding-left: 28px;
  position: relative;
  font-size: 24px;
  line-height: 30px; }
.content ul li:before, .list-box li:before {
  content: '';
  position: absolute;
  top: 13px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: $th;
}
.content ol, .list-number-box {
  list-style-position: inside;
}
.content ol li, .list-number-box li {
  margin-bottom: 15px;
  color: $th; }
.content ol li span, .list-number-box li span {
  padding-left: 10px;
  color: $t;
 }
#fp-nav.right {
  right: 58px;
  @include respond-to(lg-1300) {
    right: 30px;
  }
}
#fp-nav ul li, .fp-slidesNav ul li {
  width: 8px;
  height: 8px;
  margin:16px 0;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  width: 8px;
  height: 8px;
  background: none;
  border:2px solid #bcbbbb;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  left: 0;
  top: 0;
  margin: 0;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
  width: 8px;
  height: 8px;
  margin: 0;
  border-color:#221f1f;
}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
  width: 8px;
  height: 8px;
  margin: 0;
  left: 0;
  top: 0;
  border-color:#221f1f;
  background: #221f1f;
}
.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 777;
  padding:64px 0 0;
  @include anim;
  .container {
    position: relative;}
  @include respond-to(lg-1300) {
    padding:35px 0;
  }
  @include respond-to(xs) {
    padding:35px 0;
  }
}
body:not(.fp-viewing-section1) {
  .logo {
    opacity: 1;
  }
  .header {
    padding:15px 0;
    background: rgba(255,255,255,0.8);
    @include respond-to(xs) {
      padding:8px 0;
    }
  }
}
.header.fix{
  padding:15px 0;
  background: rgba(255,255,255,0.8);
  @include respond-to(xs) {
    padding:8px 0;
  }
}
.logo {

  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  @include fb;
  font-size: 20px;
  color: #221f1f;
  @include anim;
  svg {
    width: auto;
    height: 40px;
  }
}
.head-navigation {
  float: right;
  ul {
    display: block;
    li {
      display: inline-block;
      vertical-align: top;
      margin-left: 76px;
      @include respond-to(lg-1300) {
        margin-left: 40px;
      }
      a,span {
        font-size: 18px;
        @include fb;
        @include anim;
      }
    }
  }
}
//-----------first section
.first-section {
  background: #ffd96d;
  position: relative;
  overflow: visible;
  .container {
    position: relative;
    z-index: 5;
  }
}
.next-section {
  position: absolute;
  z-index: 201;
  bottom:55px;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 38px;
  cursor: pointer;
  @include anim;
  animation:next 2s infinite;
  &:hover {
    opacity:0.5;
  }
}
@keyframes next {
  0%{transform: translateY(0px);}
  40%{transform: translateY(0px);}
  50% {transform: translateY(20px);}
  60% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}
.info-box {
  width: 270px;
  text-align: left;
  color: #221f1f;
  @include respond-to(lg-1300) {
    font-size: 16px;
    line-height: 26px;
  }
  .js_type {
    font-size: 135px;
    @include fb;
  }
  p{
    margin-bottom: 25px;
    @include respond-to(lg-1300) {
      margin-bottom: 10px;
    }
  }
}
.type-txt {
  white-space: nowrap;
  margin-bottom: -9px;
  svg {
    width:405px;
    height:207px;
    @include respond-to(tablet) {
      width: 303.75px;
      height: 155.25px;
    }
  }
}
@include respond-to(tablet) {
  .apple-animation-box,.next-section {
    display: none;
  }
}
.first-section {
  .apple-animation-box {
    display: none;
    @include respond-to(tablet) {
      display: block;
    }
  }
}

@keyframes typedjsBlink{
  50% { opacity: 0.0; }
}
@-webkit-keyframes typedjsBlink{
  0% { opacity: 1; }
  50% { opacity: 0.0; }
  100% { opacity: 1; }
}
.text-cursor {
  animation:typedjsBlink 0.7s infinite;
}
.typed-cursor {
  position: relative;
  vertical-align: middle;
  margin-left: 5px;
  top: -40px;
  font-size: 0;
  width: 5px;
  display: inline-block;
  height: 194px;
  background: #000;
}
.apple-animation-box {
  position: absolute;
  z-index: 200;
  right: -5%;
  bottom: -13%;
  width: 913px;
  max-width: 63%;
  //box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.4);
  //background: url(../images/phone.png) no-repeat;
  background-size: cover;
  @include respond-to(lg-1300) {
    right: -5%;
    bottom: -10%;
    max-width: 60%;
  }
}
.info-box__head {
  display: block;
  margin-bottom:26px;
  @include fb;
  font-size: 48px;
  line-height:56px;
  @include  respond-to(lg-1300) {
    font-size: 38px;
    margin-bottom: 20px;
  }

}
.first-animation-box {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -10%;
  right: -10%;
  transform:translateY(-50%);
  //display: flex;
  //justify-content: space-around;
  img {
    width: 100%;
  }
  span {
    display: inline-block;
    vertical-align: top;
  }
}
//-----------first section
//-----------second section
.second-section {
  background: #fff;
  .info-box {
    width: 450px;
    max-width: 100%;
  }
  .right-col {
    padding-left: 110px;
    @include respond-to(lg-1300) {
      padding-left: 0;
    }
  }
}
.left-col {
  float: left;
  width:50%;
  padding:0 15px;
  @include respond-to(tablet){
    width: 100%;
  }
}
.right-col {
  float: right;
  width: 50%;
  padding:0 15px;
  @include respond-to(tablet){
    width: 100%;
  }
}
.circle-anim {
  overflow: hidden;
  margin-bottom: 45px;
  @include respond-to(lg-1300) {
    margin-bottom: 20px;
  }
  img {
    height: 34px;
  }
}
.circle {
  width: 15px;
  height: 15px;
}
//-----------second section
//-------------third section
.third-section {
  background: #FF7171;
  .container {
    font-size: 0;
    line-height: 0;
    }
  .row {
    display: flex;
    justify-content: space-between
  }
  .col {
    display: inline-block;
    vertical-align: top;
    width: 33.333%;
    padding: 0 15px;
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    @include respond-to(sm) {
      width: 100%;
      margin-bottom: 40px;
    }
    &:nth-of-type(2) {
      .item {
        margin:0 auto;
      }
    }
    &:nth-of-type(3) {
      .item {
        margin-left:auto;
        margin-right: 0;
      }
    }
  }
}
.item__info {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  p{
    margin-bottom: 25px;
    @include respond-to(lg-1300) {
      margin-bottom: 10px;
    }
  }
}
.item {
  width: 280px;
  max-width: 100%;
}
.item__icon {
  margin-bottom: 28px;
  height: 245px;
  line-height: 245px;
  text-align: center;
  @include respond-to(lg-1300) {
    margin-bottom: 30px;
  }
  @include respond-to(tablet) {
    height: 200px;
    line-height: 200px;
  }
  @include respond-to(sm) {
    height: 150px;
    line-height: 150px;
  }
  svg {
    max-width: 280px;
    max-height: 100%;
    overflow: visible;
    display: inline-block;
    vertical-align: middle;
  }
}
.item__icon--2 {
  img {
    position: relative;
    top:-20px;
    max-width: none;
    max-height: 305px;
    @include respond-to(tablet) {
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.item__icon--3 {
  img {
    position: relative;
    top: -15px;
    left: -35px;
    max-width: none;
    max-height: 295px;
    @include respond-to(tablet) {
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
    }
  }
}
.item__head {
  display: block;
  margin-bottom: 31px;
  font-size: 40px;
  line-height: 42px;
  @include fb;
  @include respond-to(lg-1300) {
    font-size: 36px;
    margin-bottom: 20px;
  }
  @include respond-to(sm) {
    font-size: 30px;
    line-height: 1.33;
    margin-bottom: 13px;
  }
}
.fp-viewing-section3 {
  #fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
    border-color:#fff;
  }
  #fp-nav ul li a span, .fp-slidesNav ul li a span {
    border-color:rgba(255,255,255,0.7)
  }
  #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    background: #fff;
    border-color:#fff
  }
}
//-------------third section
//-------------fourth section
.fourth-section {
  padding:155px 0 130px;
  border-bottom:2px solid rgb(223, 223, 223);
  position: relative;
  @include respond-to(lg-1300) {
    padding:100px 0;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background: url(../images/pattern.svg) 50% 50% repeat;
  }

}
.testimonials-slider {
  text-align: center;
  position: relative;
  padding:0 90px;
  .swiper-container {
    width: 980px;
    margin: 0 auto;
    max-width: 100%;
  }
  .swiper-pagination {
      display: block;
      right: 0;
      left: 0;
      top:100%;
      margin-top: 22px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    margin:0 8px;
    height: 8px;
    opacity: 0.3;
    background: none;
    border: solid 2px rgb(34, 31, 31);
    @include anim;
  }
  .swiper-pagination-bullet-active {
    background: #000;
    border-color:#000;
    opacity: 1;
  }
  .swiper-button-prev,.swiper-button-next {
    position: absolute;
    top: 50%;
    background: none;
    width: 35px;
    height: 28px;
    margin-top:-14px;
    @include respond-to(tablet) {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 43px;}
  .swiper-button-next {
    right: 43px;
  }
  blockquote {
    @include fsb;
    font-size: 48px;
    color: #221F1F;
    letter-spacing: 0;
    line-height: 60px;
    margin-bottom: 38px;
    @include respond-to(lg-1300) {
      font-size: 38px;
      line-height: 46px;
    }
  }
}
.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right {
  display: none;
}
.testi-bott {
  display: block;
  @include fr;
  font-size: 14px;
  color: #9B9B9B;
  line-height: 20px;
  span {
    display: block;
    @include fb;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
  }
}
#fp-nav {
  @include anim;
}
.fp-viewing-section4,.fp-viewing-section5,.fp-viewing-section6 {
  #fp-nav {
    opacity: 0;
    visibility: hidden;}
}
//-------------fourth section
//-------------fifth section
.fifth-section {
  .info-box {
    width: 410px;
    max-width: 100%;
  }
}
.chat-plugin {
  margin:150px 0 0 ;
}
//-------------fifth section
//-----------section footer
.section-footer {
  background: #221f1f;
  padding:115px 0 113px 0;
  color: #fff;
  .container {
    font-size: 0;
    line-height: 0;
  }
}
.foot-logo {
  display: inline-block;
  vertical-align: bottom;
  width: 101px;
  height: 52px;
}
.foot-info {
  display: inline-block;
  vertical-align: bottom;
  width:calc(100% - 102px);
  text-align: right;

}
.foot-info__box {
  display: inline-block;
  margin-right: 110px;
  width:170px;
  max-width: 100%;
  text-align: left;
  font-size: 15px;
  line-height: 26px;
  color: #fff;
  @include respond-to(tablet) {
    margin-right: 0;
  }
  a {
    color: #fff;
  }
  address {
    display: block;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    font-style: normal;
  }
  .list-lnk {
    margin-bottom: 40px;
    li {
      display: block;
      //margin-bottom: 5px;
      a {
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}
.list-tel {
  li {
    display: block;
    margin-bottom: 8px;
    span {
      display: inline-block;
      width: 30px;
      @include fsb;
    }
  }
}

.ft-head {
  display: block;
  margin-bottom: 10px;
  @include fb;
}
//------------section footer
@include respond-to(tablet) {
  .fp-section.fp-table, .fp-slide.fp-table,.fp-tableCell {
    height: auto !important;
    display: block !important;
  }
  .header .logo {
    display: none;
  }
  .head-navigation {
    float: none;
    display: block;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        margin: 0;}
    }

  }
  .first-section {
    padding:150px 0 70px;
  }
  .fullpage-wrapper {
    max-width: 100%;
    overflow: hidden;}
  .second-section {
    padding:130px 0 110px 0;
  }
  .second-section .info-box {
    padding-bottom: 100px;
    width: 100%;}
  .third-section,.section-footer {
    padding:100px 0;
  }
  .fifth-section {
    padding:90px 0 80px;
  }
  .chat-plugin {
    margin-top: 80px;}
  .fifth-section .info-box {
    width: 100%;}
  .right-col,.left-col {
    padding-right: 0;
    padding-left: 0;
  }
  .fifth-section .row {
    margin: 0;}
}
@include respond-to(sm) {
  .first-section {
    padding-top: 122px;
    .info-box {
      width: 100%;
      margin-bottom: 105px;}
    .apple-animation-box {
      position: relative;
      max-width: none;
      width: auto;
      left: 0;
      right: 0;
      margin-bottom: -150px;
    }
  }
  .type-txt {
    margin-bottom: 5px;}
  .first-animation-box {
    top:auto;
    bottom: 15%;
    transform: none;
  }
  .item {
    width: 100%;}
  .item__info {
    font-size: 14px;
    line-height: 1.71;
  }
  .item__info p{
    margin-bottom: 25px;}
  .testimonials-slider blockquote {
    font-size: 20px;
    line-height: 1.25;
    margin-bottom: 27px;
  }
  .info-box {
    font-size: 14px;
    line-height: 24px;
  }
  .info-box p{
    margin-bottom: 25px;
  }
}
@include respond-to(xs) {
  .head-navigation ul li a, .head-navigation ul li span {
    font-size: 12px;}
  .info-box__head {
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 17px;
  }
  .second-section {
    .info-box__head {
      margin-bottom: 27px;
    }
  }
  .second-section .info-box {
    padding-bottom: 72px;
  }
  .apple-animation-over {
    margin-left: -75px;
    margin-right: -75px;
  }
  .third-section .row {
    display: block;}
  .item__icon {
    height: auto;
    line-height:normal;}
  .testimonials-slider {
    padding:0 32px;}
  .foot-logo {
    width: 100%;
    margin-bottom: 26px;
  }
  .foot-info {
    width: 100%;
    text-align: left;
  }
  .item__icon {
    margin-bottom: 0;}
  .third-section .col {
    margin-bottom: 20px;}
  .fourth-section {
    padding:98px 0 135px 0;
  }
  .testimonials-slider .swiper-pagination {
    margin-top: 34px;}
  .foot-logo {
    img {
      width: 80px;
    }
  }
  .ft-head {
    margin-bottom: 2px;}
  .foot-info {
    font-size: 14px;
    line-height: 28px;
  }
  .foot-info__box .list-lnk {
    margin-bottom: 11px;
  }
  .foot-info__box address {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 28px;}
}
@include respond-to(xs-360) {
  .type-txt svg {
    width: 260px;
    height: 132px;}
}
.cont_dynamic_banner {
  position: absolute;
}
.chat-plugin {
  position: relative;
  height: 250px;
}