header.header
  .container
    .logo
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 270.67 138', enable-background='new 0 0 270.67 138', xml:space='preserve')
        line.text-cursor(fill='none', stroke='#0F0A0B', stroke-width='4', stroke-linecap='square', stroke-linejoin='round', stroke-miterlimit='10', x1='65', y1='40', x2='65', y2='125')
        g
          defs
            rect#SVGID_11_(x='-584.5', y='-381.21', width='1440', height='900')
          clippath#SVGID_12_
            use(xlink:href='#SVGID_11_', overflow='visible')
          path(clip-path='url(#SVGID_12_)', fill='none', stroke='#221F1F', stroke-width='14', stroke-miterlimit='10', d='M47.669,97\
                        c-4.218,4.898-10.028,8-17,8c-12.702,0-23-10.298-23-23c0-12.703,10.298-23,23-23c6.972,0,12.783,3.102,17,8')
    .head-navigation
      ul#menu
        li(data-menuanchor='section3')
          a(href='#section3') Features
        li(data-menuanchor='section5')
          a(href='#section5') About us
        li(data-menuanchor='section6')
          a(href='#section6') Contact us
        li
          a(href='http://chadswith.us/chad/login.php',target="_blank") Login








