doctype html
html
  head
    include _head
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    noscript
      div
        strong You need to switch on JavaScript for a full functionality of this website.Here are
        a(href="https://artjoker.ua/ru/blog/how-to-enable-javascript/" target="_blank") the instructions
        | for switching  on the JavaScript on you browser.
    // [if lte IE 8]>
      Your browser is too old, please,update it
    include _header
    #fullpage
      .apple-animation-box
        .apple-animation-over
          img(src="images/phone.png",alt="")
      .next-section
        img(src="images/arrow.png",alt="")
      section.first-section.section
        .first-animation-box
          img(src="images/circle.svg",alt="")
        .container
          .info-box
            .type-txt
              //span.js_type
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='270.67px', height='138px', viewbox='0 0 270.67 138', enable-background='new 0 0 270.67 138', xml:space='preserve')
                line.text-cursor(fill='none', stroke='#0F0A0B', stroke-width='4', stroke-linecap='square', stroke-linejoin='round', stroke-miterlimit='10', x1='268.67', y1='2', x2='268.67', y2='136')
                g
                  defs
                    rect#SVGID_1_(x='-584.5', y='-381.21', width='1440', height='900')
                  clippath#SVGID_2_
                    use(xlink:href='#SVGID_1_', overflow='visible')
                  path(clip-path='url(#SVGID_2_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', d='M247.67,81.5\
                  c0,11.874-10.126,21.5-22,21.5s-21-9.626-21-21.5c0-11.875,9.126-21.5,21-21.5S247.67,69.625,247.67,81.5z')
                  line(clip-path='url(#SVGID_2_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', x1='247.67', y1='24', x2='247.67', y2='109')
                g
                  defs
                    rect#SVGID_3_(x='-584.5', y='-381.21', width='1440', height='900')
                  clippath#SVGID_4_
                    use(xlink:href='#SVGID_3_', overflow='visible')
                  path(clip-path='url(#SVGID_4_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', d='M179.67,81.5\
                  c0,11.874-10.126,21.5-22,21.5s-21-9.626-21-21.5c0-11.875,9.126-21.5,21-21.5S179.67,69.625,179.67,81.5z')
                  line(clip-path='url(#SVGID_4_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', x1='179.67', y1='54', x2='179.67', y2='109')
                g
                  defs
                    rect#SVGID_5_(x='-584.5', y='-381.21', width='1440', height='900')
                  clippath#SVGID_6_
                    use(xlink:href='#SVGID_5_', overflow='visible')
                  path(clip-path='url(#SVGID_6_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', d='M70.669,81.5\
                  c0-11.875,9.126-21.5,21-21.5s22,9.625,22,21.5V109')
                  line(clip-path='url(#SVGID_6_)', fill='none', stroke='#221f1f', stroke-width='14', stroke-miterlimit='10', x1='70.669', y1='24', x2='70.669', y2='109')
                g
                  defs
                    rect#SVGID_7_(x='-584.5', y='-381.21', width='1440', height='900')
                  clippath#SVGID_8_
                    use(xlink:href='#SVGID_7_', overflow='visible')
                  path(clip-path='url(#SVGID_8_)', fill='none', stroke='#221F1F', stroke-width='14', stroke-miterlimit='10', d='M47.669,97\
                  c-4.218,4.898-10.028,8-17,8c-12.702,0-23-10.298-23-23c0-12.703,10.298-23,23-23c6.972,0,12.783,3.102,17,8')
            .info-box__head The friendly chatting ad
            | Chad lets advertisers make their banners 'talk' with its unique chat facility. So advertisers can get a deeper understanding of their customers and let them interact and ask questions before they buy.
        .apple-animation-box
          .apple-animation-over
            img(src="images/phone.png",alt="")
      section.second-section.section
        .container
          .right-col
            .circle-anim
              img(src="images/circle-2.svg",alt="")
            .info-box
              .info-box__head Know your  customer needs instead of guessing what to push
              p The Chad Banner gives you qualitative insight that provides a sharper understanding of your customers needs. And like every conversation you have with someone who really listens, your customers are more likely to engage with you in the future too. Creating long lasting customers that feel heard, not overheard.

          .left-col
            .chat-animation-box
              img(src="images/chat.jpg",alt="")
              //.chat-box-over
              //  .chat-mess
              //    | Hi there! I`m chad
              //  .chat-mess
              //    | The friendly chatting ad bot
              //  .chat-mess.chat-mess--answ
              //    | You` are a bot?
              //  .chat-mess
              //    | Beeb Bop

      section.third-section.section
        .container
          .row
            .col
              .item
                .item__icon
                  img(src="images/icon1.svg",alt="")
                .item__head Artificial   Intelligence
                .item__info
                  p Chads World uses sophisticated Artificial Intelligence algorithms to chat in a natural manner and analyse  customer requirements.
                  p   It's also possible to connect Chad to multiple databases like product feeds or CRM systems to maximize personalisation and relevancy.

            .col
              .item
                .item__icon.item__icon--2
                  img(src="images/icon2.svg",alt="")
                .item__head Easy to implement
                .item__info
                  p Chad Banners can easily be created and implemented for virtually any platform. Either with the help of our Conversational Specialists or on your own, using our Chads World back office interface.
            .col
              .item
                .item__icon.item__icon--3
                  img(src="images/icon3.svg",alt="")
                .item__head Native experience
                .item__info
                  p Chad banners give the customer a user friendly, trusted experience by staying in the users website environment.

                  p New browser tabs or interfaces (e.g. a mobile app) are only opened when it makes sense to the user, giving a truly native feel.
      section.fourth-section.section.fp-auto-height
        .testimonials-slider
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                blockquote "1 The Chad Banner enables us to inform our prospects of so much more the just our causes and prizes"
                .testi-bott
                  span Sergey Kovalenko
                  | Front-end developer, Artjoker
              .swiper-slide
                blockquote "2 The Chad Banner enables us to inform our prospects of so much more the just our causes and prizes"
                .testi-bott
                  span Sergey Kovalenko
                  | Front-end developer, Artjoker
              .swiper-slide
                blockquote "3 The Chad Banner enables us to inform our prospects of so much more the just our causes and prizes"
                .testi-bott
                  span Sergey Kovalenko
                  | Front-end developer, Artjoker
          .swiper-pagination
          .swiper-button-prev
            img(src="images/arrow_left.png",alt="")
          .swiper-button-next
            img(src="images/arrow_right.png",alt="")
      section.fifth-section.section
        .container
          .row
            .left-col
              .circle-anim
                img(src="images/circle-2.svg",alt="")
              .info-box
                .info-box__head About us
                p Chads World is breaking new ground in the art of Conversational Commerce, helping advertisers create online campaigns that are more friendly and relevant than ever before. Campaigns that engage with customers to help them find products they really want, and share their thoughts on the new products and services they would love to buy.

                p We use Artificial Intelligence and AI Chatbots, that can be connected to virtually any database, to provide interactive engagement with customers that brings online advertising alive.

                p The Chads World team is passionate about the latest and greatest in the conversational space. Using what technology offers today and tomorrow for happy customers and successful advertisers.
            .right-col
              .chat-plugin
                #hidden_div.hidden_div
                  #cont_dynamic_banner.cont_dynamic_banner
                    .class_cont_btn_q_dinamic
                      .cont_checks_all_q_dimamic_pick
                        #exit
                          img#boolean_img(src='images/TakeAway_300x250_Food_CHAD6b.png', style='display:block;max-width: 100%;', border='0', alt='')
                        .cont_btn_all_q_dimamic(data-type='dinamic_banner')
                          #boolean_btn_1_value.btn_list_q_dinamic(data-code='Here the name', data-act='Here the value')
                            #boolean_btn_1_text.cont_text_cancel_q_dinamic_location Here the text
                          #boolean_btn_2_value.btn_list_q_dinamic(data-code='Here the name', data-act='Here the value')
                            #boolean_btn_2_text.cont_text_cancel_q_dinamic_location Here the text
                  #cont_multi_select.cont_dash_q_Dinamic_all_multi_select
                    .class_cont_btn_q_dinamic_multi_select
                      #cont_all_for_multi_select.cont_all_for_multi_select(data-type='dinamic_multi_select')
                  .cont_text_container
                    .cont_pick_a(style='background-image: url(images/logohouse.png);')
                    .bot_msg Bot message here
                    .time_ago.bot_time_ago ssssssssss
                  .cont_globo_all_U
                    .class_globo_user User text here
                    .time_ago.user_time_ago
                  .class_text_multi_select(data-script='', data-act='Your value here', data-code='Your dialog name here')
                    .cont_text_left_for_multi_select Your text here
                    .cont_text_right_for_extend_options
                  #cont_carousel
                    section.cd-slider
                      ul#carousel_container
                      nav
                        div
                          a.prev(href='#')
                        div
                          a.next(href='#')
                  li.carousel_content_main(data-color='#FFFFFF')
                    .carousel_content
                      .checkout__link(data-url='')
                        blockquote
                          p.carousel_text_1 Text1
                          span.carousel_text_2 More text
                  #msg_cont
                    input#input_field(placeholder='Write here...', maxlength='180', name='input_field')
                    #send.send(data-script='', data-code='Your dialog name here', data-act='Your value here') Send
                  #circleG.loading_animation
                    #circleG_1.circleG
                    #circleG_2.circleG
                    #circleG_3.circleG
                  #chat_header
                    img(src='images/header.jpg', alt='header')
                #main-container
                  #feature.feature
                    #chat_uno
      section.section-footer.section.fp-auto-height
        .container
          .foot-logo
            img(src="images/logo-white.svg",alt="")
          .foot-info
            .foot-info__box
              span.ft-head Chads World BV
              address
                | Telecomboulevard 110  1040 EJ - Amsterdam The Netherlands



              ul.list-lnk
                li
                  a(href="mailto:info@chads.world") info@chads.world
                li
                  a(href="http://www.chads.world") www.chads.world
              ul.list-tel
                li
                  a(href="tel:+3 120 770 7690")
                    span M
                    | +3 120 770 7690
                li
                  a(href="tel:+1 415 449 8776")
                    span EU
                    | +1 415 449 8776

script(type='text/javascript', src='js/all-plugins.min.js')
script(type='text/javascript', src='js/main.js')
script(type='text/javascript', src='https://s0.2mdn.net/ads/studio/Enabler.js')
script(type='text/javascript', src='js/rules.js?v=0')
script(type='text/javascript', src='js/logic.js?v=3')
script(type='text/javascript', src='js/carousel.js?v=5')
script(type='text/javascript', src='js/timeago.js')

